<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form method="get" action="/user">
            <button>All</button>
            <button type="submit" name="filter" value="Basic">Basic</button>
            <button type="submit" name="filter" value="Intermediate">Intermediate</button>
            <button type="submit" name="filter" value="Advance">Advance</button>
        </form>
        <h1>List Books</h1>
        <form action="/user" method="get">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        <br>
        <table border="1" style="width: 700px; height: 200px;">
            <tr style="background-color: rgb(141, 143, 245);">
                <center>

                    <th>Title</th>
                    <th>Level</th>
                    <th>Code</th>
                    <th>Publish</th>
                    <th>Author</th>
                    <th>Action</th>
                </center>
            </tr>
            <% data.forEach((el)=> { %>
                <tr style="text-align: center;">
                    <center>
                        <td>
                            <%= el.title %>
                        </td>
                        <td>
                            <%= el.level %>
                        </td>
                        <td>
                            <%= el.code %>
                        </td>
                        <td>
                            <%= el.publishYear %>
                        </td>
                        <td>
                            <%= el.Profile.firstName+" "+el.Profile.lastName %></td>
                    <td>
                        <a href=" /book/<%=el.id %>"><button style="background-color: rgb(223, 246, 130);">Read</button></a>
                        </td>

                    </center>
                </tr>
                <% }) %>
        </table><br>
        <a href="/logout"><button style="background-color: rgb(230, 142, 43);">Logout</button></a>
    </center>
</body>

</html>